:root {
  --primary: #c90100;
  --secondary: #ee1b24;
  --teritiary: #f1bb22;
  --light: #fefffe;
  --grey: #dae3e5;
}

.app-layout {
  width: 100%;
  max-width: 560px;
  margin: 0px auto;
  height: 100vh;
  background-color: var(--light);
}

.page-container {
  width: 100%;
  height: 100vh;

  > .welcome-header {
    width: 100%;
    height: 150px;
    padding: 10px 15px;
    box-sizing: border-box;
  }

  > .list-section {
    width: 100%;
    height: calc(100vh - 150px);
    padding: 30px 15px;
    box-sizing: border-box;
    background: var(--grey);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    > .restaurant-card {
      margin-bottom: 15px;
      padding-inline: 10px;

      .brandLogo {
        width: 100px;
        height: 100px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}

/* AUTHENTICATION PAGE */

.authImageHeader {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* APP BAR COMPONENT */
.app-bar {
  width: 100%;
  height: 50px;
  display: flex;
  > .prefix {
    width: 80px;
    height: 100%;
  }
  > .content {
    width: calc(100% - 160px);
    height: 100%;
  }
  > .suffix {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cart-page {
  background: var(--teritiary);

  .cart-content {
    display: flex;
    flex-wrap: wrap;
    > .cart-item {
      position: relative;
      width: calc(100% / 2);
      padding: 10px;
      box-sizing: border-box;

      > .cart-item-card {
        padding: 10px;
      }
    }
    > .cart-content {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
