:root {
  --primary: "";
  --light: #fefffe;
  --grey: #dae3e5;
}

.app-layout {
  width: 100%;
  max-width: 560px;
  margin: 0px auto;
  height: 100vh;
  background-color: var(--light);
}

.page-container {
  width: 100%;
  height: 100vh;

  > .welcome-header {
    width: 100%;
    height: 150px;
    padding: 10px 15px;
    box-sizing: border-box;
  }

  > .list-section {
    width: 100%;
    height: calc(100vh - 150px);
    padding: 30px 15px;
    box-sizing: border-box;
    background: var(--grey);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;

    > .restaurant-card {
      margin-bottom: 15px;
      padding-inline: 10px;

      .brandLogo {
        width: 100px;
        height: 100px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}
